{% extends 'base.html.twig' %}

{% block title %}EducationType index{% endblock %}

{% block body %}
    <h1>EducationType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for education_type in education_types %}
            <tr>
                <td>{{ education_type.id }}</td>
                <td>{{ education_type.title }}</td>
                <td>
                    <a href="{{ path('app_education_type_show', {'id': education_type.id}) }}">show</a>
                    <a href="{{ path('app_education_type_edit', {'id': education_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_education_type_new') }}">Create new</a>
{% endblock %}
