{% extends 'base.html.twig' %}

{% block title %}ProjectType{% endblock %}

{% block body %}
    <h1>ProjectType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project_type.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ project_type.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_project_type_index') }}">back to list</a>

    <a href="{{ path('app_project_type_edit', {'id': project_type.id}) }}">edit</a>

    {{ include('project_type/_delete_form.html.twig') }}
{% endblock %}
