{% extends 'base.html.twig' %}

{% block title %}FormType index{% endblock %}

{% block body %}
    <h1>FormType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for form_type in form_types %}
            <tr>
                <td>{{ form_type.id }}</td>
                <td>{{ form_type.title }}</td>
                <td>
                    <a href="{{ path('app_form_type_show', {'id': form_type.id}) }}">show</a>
                    <a href="{{ path('app_form_type_edit', {'id': form_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_form_type_new') }}">Create new</a>
{% endblock %}
